@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{ 
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

:root{
    --primary_font: "Lato", sans-serif;
    --secondary_font: "Briem Hand", cursive;
    --primary_color: #377afd;
    --bg_color: #e5eeff;
    --black_color: #000;
    --white_color:#fff;
}

body{
    font-family: var(--primary_font);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--secondary_font);
}

img{
    max-width: 100%;
    display: block;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.col_1_2{
    flex-basis: 50%;
    max-width: 50%;
}
.col_1_3{
    flex-basis: 33.33%;
    max-width: 33.33%;
}
.col_1_4{
    flex-basis: 25%;
    max-width: 25%;
}
.col_1_5{
    flex-basis: 20%;
    max-width: 20%;
}
li{
    list-style-type: none;
}
a,a:hover{
    cursor:pointer; 
}
.btn{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    background-color: var(--primary_color);
    color: var(--white_color);
    padding: 10px 30px; 
    margin-top: 30px;
}
.btn:hover{
    background-color: transparent;
    color: var(--primary_color);
    border: 2px solid var(--primary_color); 
}
.top_text{
    text-align: center;
    padding-bottom: 40px;
}
.top_text h2{
    font-size: 60px;
}
.top_text p{
    font-size: 20px;
    padding-top: 6px;
}
/* fixed_icon*/
.fixed_icon a{
    background-color: #377afd;
    color: #fff;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: fixed;
    right: 20px;


}
.icon1{
    top: 42%;
    transform: translateY(-42%);

}
.icon2{
    top: 50%;
    transform: translateY(-50%);

}
/* fixed_icon*/

/* home_page_start */ 


/* header_section_start */ 

header{
padding: 8px 0;
border-bottom: 1px solid var(--bg_color);
background-color: var(--white_color);
position: sticky;
top: 0;
z-index: 1;
}
header .logo{
    flex-basis: 20%;
    max-width: 20%;
}
header nav{
    flex-basis: 50%;
    max-width: 50%;
}
header .cart{
    flex-basis: 30%;
    max-width: 30%;
}
header .logo img{
    max-width: 150px;
}
header .row{
    align-items: center;
}
nav ul{
display: flex;
justify-content: flex-end;
align-items: center;
}
nav ul li{
padding: 0 15px;
}
nav ul li a{
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    background-color: transparent;
    transition: 0.4s;
}
nav ul li a:hover{
    background-color: var(--primary_color);
    color: var(--white_color);
}
.cart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

.cart select{
    border: 0;
    padding: 4px;
    margin-right: 10px;
    color: #000;
}
.cart a{
    margin: 0 6px;
}
.cart a i{
    color: #000;
}
.cart a i:hover{
    color: var(--primary_color);
}
/* header_section_end */

/* hero_section_start */
.hero_section{
    padding: 100px 0;

}
.banner_section{
    display: flex;
    flex-wrap: wrap;
}
.banner{
    flex-basis: 50%;
    max-width: 100%;
}
.banner img{
    border-radius: 15px;
}
.banner_text{
    flex-basis: 50%;
    max-width: 100%;
    padding: 0 3rem 0 3rem;
}
h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
}
h1 span{
    color: var(--primary_color);
    font-size: 25px;
    line-height: 28px;
    
}
.banner_text p{
    padding: 20px 0;
    font-size: 18px;
    line-height: 24px;
}
/* hero_section_end */


/* section_2 */
.section_2{
    padding: 50px 0 100px;
}
.section_2 p{
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: .9px;
    padding: 0 5rem 0 0;
}
.section_2 span{
    font-size: 20px;
    color: var(--primary_color);
    line-height: 20px;
    font-weight: 500;

}
.section_2 img{
    border-radius: 4px;
}

/* home_page_end */ 


/* about_page_start */ 

/* about_page_end */ 



/* portfolio_page_start */ 

.portfolio{
    padding: 80px 0;
    
}

.portfolio_img .col_1_3{
    padding: 10px;
}
.imagebox{
    position: relative;
}
.imagebox img{
    aspect-ratio: 2 / 1.5;
    object-fit: cover;
    border-radius: 4px;
    transition-duration: 0.4s;
    filter: grayscale(0.8);
    box-shadow: #d8d8d8 5px 5px 5px 0;

}
.imagebox:hover img{
    filter: grayscale(0);

}
.imagebox p{
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    color: #fff;
    position: absolute;
    bottom: 45%;
    transform: translateY(45%);
    opacity: 0;
    transition: 0.7s;
}
.imagebox:hover p{
    opacity: 1;
    bottom: 50%;
    transform: translateY(50%);
}
/* portfolio_page_end */ 



/* contact_page_start */ 
.contact_section{
    padding: 100px 0;
}
.contact_section .container{
    max-width: 600px;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg_color);
    padding: 70px 50px;
    border-radius: 10px;
}
input,textarea{
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
}

button{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    background-color: var(--primary_color);
    color: var(--white_color);
    padding: 10px 30px; 
    margin-top: 30px;
    border: 1px solid var(--primary_color);
}
button:hover{
    background-color: transparent;
    color: var(--primary_color);
    border: 2px solid var(--primary_color); 
}
/* contact_page_end */ 